{
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 180,
	"proseWrap": "never",
	"arrowParens": "avoid",
	"semi": false,
	"tabWidth": 2,
	"useTabs": true,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
