.login-container {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.login-card {
	padding: 24px;
	background-color: rgba(31, 38, 46, 0.1);
	display: flex;
	flex-direction: column;
	gap: 24px;
 min-width: 375px;
}

@media only screen and (max-width: 720px) {
	.login-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.login-card {
		width: 100%;
  min-width: initial;
	}
}
